[Desktop Entry]
Name=HiddenVM
Comment=Runs Virtual Machine Manager for HiddenVM as the clearnet user
Exec=/home/amnesia/.clearnet-vmanager/clearnet-vmanager.sh
Icon=hiddenvm-icon-color
Terminal=false
Type=Application
Categories=System
